/* CSS Document */
@charset "utf-8";

img, embed, object, video {
  max-width: 100%;
}

body,td,th,p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1em;
	color: #1a2309; /* black */
	line-height: 1.5;
}
body {
  box-sizing: border-box;
	background-color: #3ac2b2; /* mint green */
	margin: 0;
	position: relative;
}
ul, li {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1em;
	color: #1a2309; /* black */  
}
a {
	color: #C71585; /* med violet red */ 
	text-decoration: none;
}
a:hover, a:focus {
	color: #9400D3; /* dark violet */
	text-decoration: none;
}
a img{
	border: none 0px #fff; /* white */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #3ac2b2;/*mint green  */
  min-height: 100%;
}
#footer {
  background-color: #191970; /* midnight blue */
  color: #1fd5bf; /* turquoise */
  font-size: 0.75em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
a.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #f6df97; /*dark yellow*/
  color: #aaaaaa; /*grey*/
  padding: 8px;
  z-index: 100;
}
a.skip-link:focus {
  top: 0;
}

/* ====================== Navigation ====================== */
nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: #330066; /* web safe color of dark purple */
  text-align: center;
  align-items: center;
}

nav h1 {
  margin: auto;
  padding: 10px;
}
nav h1 a {
  color: #1fd5bf; /*turquoise */
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 0;
    list-style: none;
    background-color: #aaaaaa; /*grey*/
    font-size: 1.05em;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: #000000; /* Black */
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #1E90FF; /* DodgerBlue*/
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #003366; /* Web safe color of med darkish blue */
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #FFD700; /* Gold */
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #00FFFF; /* Aqua */
  text-align: center;
  padding: 10px 0;
}
.filter-options h2 {
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  margin: auto;
  padding: 10px;
}
.filter-options select {
  display: block;
  background-color: white;
  border: 1px solid #fff;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 15px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px auto; 
  padding: 0 10px;
  width: 200px;
}
.filter-options select:focus {
  outline: 3px solid #21242c; /*black */
  outline-offset: 0px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFE0; /* light yellow */
  list-style: outside none none;
  margin: 0;
  padding: 30px 7px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 20px 25px;
  width: 100%;
  text-align: left;
  min-width: 250px;
}
#restaurants-list .restaurant-img {
  background-color: #FFEFD5; /* PapayaWhip */
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 250px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #008000; /* Green */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #008B8B; /* DarkCyan */
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus {
  outline-style: none;
  border: 2px solid #3a3d45; /*dark grey*/
  background-color: #FF4500; /*orange red */
}
/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.inside header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  margin-top: 125px;
  height: 400px;
  width: 100%;
}

#restaurant-name {
  color: #00CED1;  /* turquoise */
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.75em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.25;
}
#restaurant-img {
	width: 100%;
  margin-bottom: -7px;
}
#restaurant-address {
  font-size: 1em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333300  /* black - web safe color */
  color: #FFEFD5; /* PapayaWhip */
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
  margin-bottom: 20px;
}
#restaurant-hours {
  margin: 0 auto;
  margin-top: 10px;
}
#restaurant-container {
  border-bottom: 1px solid #FFD700; /* Gold */
  border-top: 1px solid #fff; /*white */
  padding: 20px 20px;
  width: 100%;
  text-align: center;
}
#reviews-container {
  border-bottom: 1px solid #FFD700; /* Gold */
  border-top: 1px solid #fff; /*white */
  padding: 20px 20px;
  width: 100%;
  text-align: center;
}
#reviews-container h2 {
  color: #008B8B; /* DarkCyan */
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff; /*white */
  border: 2px solid #FFEFD5; /* PapayaWhip */
  display: block;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 10px 0 0;
}
#restaurant-hours td {
  color: #666666; /*dark grey web safe color */
}

/* Media Queries */
@media screen and (min-width: 500px){
  .filter-options select {
    display: inline-block;
    margin: 10px;
  }
  #restaurant-hours {
    padding: 0 20px;
    margin-top: 10px;
  }
  #restaurant-hours tr td:first-child {
    padding-right: 35%;
  }
}

@media screen and (min-width: 775px) {
  .filter-options h2 {
    flex-grow: 1;
    width: 30%;
  }
  .selects {
    display: flex;
    padding-right: 80px;
  }
  .filter-options {
    display: flex;
    text-align: center;
    padding: 10px 40px;
  }
  #restaurants-list li {
    width: calc((100%-188px)/2);
    padding: 0 30px 25px;
  }
  #restaurants-list {
    max-width: 1100px;
    margin: 0 auto;
  }
  #restaurant-hours {
    margin: 0 auto;
    margin-top: 20px;
  }
  #restaurant-hours tr td:first-child {
    padding-right: 0;
  }
  #restaurant-container {
    width: calc((100% - 80px)/2);
  }
  #reviews-container {
    width: calc((100% - 80px)/2);
    max-width: 800px;
    }
  }

  @media screen and (min-width: 1000px) {
    #restaurant-hours tr td:first-child {
      padding-right: 35%;
    }
  }

  @media screen and (min-width: 1250px) {
    .filter-options h2 {
      flex-grow: 1;
      width: 30%
    }
    .selects{
      flex-grow: 2;
    }
    .filter-options {
      text-align: center;
      justify-content: center;
    }
    #restaurants-list li {
      width: calc((100%-282px)/3);
    }
  }